*{
    box-sizing: border-box;
}

.container-fluid-1{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}

.login-card{
    /* display: none; */
    width: 300px;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
}
.signup-card{
    /* display: none;  */
    width: 300px;
    padding: 10px;
    background-color: whitesmoke;
}
.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
